In [ ]:
import pandas as pd
df=pd.read_csv('/home/bot/Desktop/yhills/datasets/titanic-training-data.csv')
import numpy as np
df.info()
df
duplicate=df.duplicated()
duplicate.sum()

In [ ]:
df.isnull().sum()

In [ ]:
df.dtypes

In [ ]:
df.shape

In [ ]:
df.drop(['Cabin'],axis=1,inplace=True)
df

In [ ]:
df.Age.median() #age in int replace median

In [ ]:
df.Age.replace(np.nan,28,inplace=True)

In [ ]:
df

In [ ]:
df.isnull().sum()

In [ ]:
#embarked object repalce mode

In [ ]:
df.Embarked.mode()
mode1=df.Embarked.mode()[0]

In [ ]:
# df.Embarked.replace(np.nan,df.Embarked.mode()[0],inplace=True)
df.Embarked.replace(np.nan,mode1,inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
df1=pd.read_csv('/home/bot/Desktop/yhills/datasets/auto-mpg.csv')

In [ ]:
df1.info()

In [ ]:
df1.isin(['?']).sum()

In [ ]:
df1.hp.replace('?',np.nan,inplace=True)

In [ ]:
df1.hp.astype(float)

In [ ]:
median1=df1.hp.median()
df1.hp.replace('?',median1,inplace=True)
# mode2=df1.hp.mode()
# df1.hp.replace('?',mode2[0],inplace=True)

In [ ]:
df1.isin(['?']).sum()

In [ ]:
duplicate=df.duplicated()
duplicate.sum()

In [ ]:
duplicate1=df1.duplicated()
duplicate1.sum()

In [ ]:
import matplotlib.pyplot as plt
print(df1.info())
for i in df1.drop(['car name'],axis=1):
    plt.title(str(df1[[f'{i}']]))
    plt.boxplot(df1[[f'{i}']].astype(float))
    plt.show()

In [ ]:
plt.boxplot(df1['mpg'])

In [ ]:
def remove_outlier(col):
    sorted(col)
    q1=col.quantile(0.25)
    q3=col.quantile(0.75)
    iqr=q3-q1
    lowerRange=q1-(1.5*iqr)
    higherRange=q3+(1.5*iqr)
    return lowerRange,higherRange

In [ ]:
lowincome,upincome=remove_outlier(df1['mpg'])
df1['mpg']=np.where(df1['mpg']>upincome,upincome,df1['mpg'])
df1['mpg']=np.where(df1['mpg']<lowincome,lowincome,df1['mpg'])

In [ ]:
plt.boxplot(df1['mpg'])

In [ ]:
# duplicates

In [ ]:
duplicate=df.duplicated()
print(duplicate.sum())
df[duplicate]

In [ ]:
df.drop_duplicates(inplace=True)
c=df.duplicated()
c.sum()